<template>
  <div>
    <h3>Table Names:</h3>
    <select class="select-table" name="tableNames" id="tableNames">
      <option v-for="(data, index) in tables" :key="index" value="data">{{
        data
      }}</option>
    </select>
    <h4>Upload Excel File:</h4>
    <p>{{ file.name }}</p>
    <label class="excel-upload">
      <input
        type="file"
        id="file"
        :disabled="disableChooseFile"
        ref="file"
        @change="uploadFile"
      />
      Upload Excel
    </label>
    <button @click="uploadExcel" :disabled="isUploaded" class="upload-btn">
      Submit
    </button>
    <br />
    <button
      @click="validateExcel"
      :disabled="isValidated"
      :class="{ hidden: !isUploaded }"
      class="button validate-btn"
    >
      Validate
    </button>
    <button
      @click="cancelValidation"
      :class="{ hidden: !isUploaded }"
      class="button cancel-btn"
      :disabled="!isValidated"
    >
      Cancel
    </button>
    <br />
    <button
      class="download-btn"
      :class="{ hidden: !isValidated }"
      @click="downloadData"
    >
      <download-excel
        :data="dataValas"
        :fields="kolomValas"
        worksheet="Kas Valas"
        name="kas-valas.xls"
        >Download All Datas</download-excel
      >
    </button>
    <button
      class="download-btn"
      :class="{ hidden: !isValidated }"
      @click="downloadData"
    >
      <download-excel
        :data="dataErrorValas"
        :fields="kolomValas"
        worksheet="Data Error Kas Valas"
        name="data-error-kas-valas.xls"
        >Download Invalid Datas</download-excel
      >
    </button>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      file: "",
      disableChooseFile: false,
      isUploaded: false,
      isValidated: false,
      tables: ["Kas Valas", "Neraca", "Pengaduan", "Tabungan"],
      dataValas: [],
      dataErrorValas: [],
      kolomValas: {
        "Jenis Valuta": "jenisValuta",
        "Posisi Awal": "posisiAwal",
        Debet: "debet",
        Kredit: "kredit",
        Lainnya: "lainnya",
        "Posisi Akhir": "posisiAkhir"
      }
    };
  },
  methods: {
    uploadFile() {
      this.file = this.$refs.file.files[0];
      // eslint-disable-next-line no-console
      console.log(this.file);
    },
    uploadExcel() {
      if (this.file == "") {
        alert("Please upload your file first");
      } else {
        alert("Uploaded");
        this.isUploaded = !this.isUploaded;
        this.disableChooseFile = !this.disableChooseFile;
      }
    },
    validateExcel() {
      alert("Validated");
      this.isValidated = !this.isValidated;
    },
    cancelValidation() {
      alert("Validation cancelled");
      this.isUploaded = !this.isUploaded;
      this.isValidated = !this.isValidated;
    },
    downloadData() {
      alert("Data downloaded");
    },
    getAllExcel() {
      axios
        .get("https://192.168.200.126:44342/api/KasValas_API/GetFileExcel")
        .then(response => {
          for (var i = 0; i < response.data.length; i++) {
            this.dataValas.push({
              jenisValuta: response.data.jenisValuta,
              posisiAwal: response.data.posisiAwal,
              debet: response.data.debet,
              kredit: response.data.kredit,
              lainnya: response.data.lainnya,
              posisiAkhir: response.data.posisiAkhir
            });
          }
        });
    },
    getErrorExcel() {
      axios
        .get("https://192.168.200.126:44342/api/KasValas_API/GetFileRawError")
        .then(response => {
          for (var i = 0; i < response.data.length; i++) {
            this.dataErrorValas.push({
              jenisValuta: response.data.jenisValuta,
              posisiAwal: response.data.posisiAwal,
              debet: response.data.debet,
              kredit: response.data.kredit,
              lainnya: response.data.lainnya,
              posisiAkhir: response.data.posisiAkhir
            });
          }
        });
    }
  },
  created() {
    // this.getAllExcel();
    // this.getErrorExcel();
  }
};
</script>

<style scoped>
.select-table {
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  width: 300px;
  border: 0px solid #000;
  border-radius: 5px;
  background: #e6e6e6;
  color: #7b7b7b;
}
.select-table:hover,
.select-table:focus {
  color: #7b7b7b;
  background: #e6e6e6;
}
input[type="file"] {
  display: none;
}
.excel-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.upload-btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 14px;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
  background: #1034a6;
  color: #ccc;
}
.validate-btn {
  background: #2e77bb;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px 30px;
}
.cancel-btn {
  background-color: #ed2939;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px 30px;
}
.download-btn {
  background-color: green;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  color: white;
  margin: 5px;
  display: inline-block;
}
.hidden {
  display: none;
}
button[disabled] {
  background-color: #555;
}
</style>
